.grid-container {
    width: 100%;
    padding-inline: 28px;

    max-width: 1440px;
    margin-inline: auto;

    @include media-breakpoint-up(xl) {
        padding-inline: 80px;
    }
}

.grid-row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 24px;

    @include media-breakpoint-up(xl) {
        grid-template-columns: repeat(12, 1fr);
        column-gap: 40px;
    }
}