.btn {
  --btn-bg: #{$primary-red};
  --btn-border-color: #{$primary-red};
  --btn-color: #{$white};
  --btn-hover-bg: #{$btn-hover-dark};
  --btn-hover-border-color: #{$btn-hover-dark};
  --btn-hover-color: #{$white};
  --btn-padding: 1.375rem 1.75rem;
  --btn-focus-bg: #{$primary-red};
  --btn-focus-color: #{$white};
  --btn-border-radius: 0;
  --btn-weight: 500;
  --btn-border-width: 0.125rem; // 2px
  --btn-font-size: 1rem; // 16px
  --btn-line-height: 1.5; // 150%

  border: var(--btn-border-width, 0.125rem) solid var(--btn-border-color, transparent);
  border-radius: var(--btn-border-radius, 0);
  box-sizing: border-box;
  text-decoration: none;
  background-color: var(--btn-bg, transparent);
  color: var(--btn-color, #{$black});
  padding: var(--btn-padding, 1.375rem 1.75rem);
  font-size: var(--btn-font-size, 1rem);
  line-height: var(--btn-line-height, 1.5);
  font-weight: var(--btn-weight, 500);
  font-family: "General Sans", sans-serif;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 5.5rem;
  position: relative;
  cursor: pointer;
  transition:
    color 0.35s ease,
    background-color 0.35s ease,
    border-color 0.35s ease;

  svg {
    width: 1.5rem;
    height: 1.5rem;
    flex-shrink: 0;
  }

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      background-color: var(--btn-hover-bg, transparent);
      color: var(--btn-hover-color, #{$white});
      border-color: var(--btn-hover-border-color, #{$btn-hover-dark});
    }
  }

  &:focus,
  &:active {
    background-color: var(--btn-focus-bg, transparent);
    color: var(--btn-focus-color);
  }

  &:focus-visible {
    outline: 0.0625rem solid inherit;
    outline-offset: 0.25rem;
  }

  &--small {
    --btn-padding: 0.75rem 1.25rem;
  }

  &-primary {
    --btn-bg: #{$primary-red};
    --btn-border-color: #{$primary-red};
    --btn-color: #{$white};
    --btn-hover-bg: #{$btn-hover-dark};
    --btn-hover-border-color: #{$btn-hover-dark};
    --btn-hover-color: #{$white};
    --btn-focus-bg: #{$primary-red};
    --btn-focus-color: #{$white};
  }

  &-secondary {
    --btn-bg: #{$neutral-500};
    --btn-border-color: #{$neutral-500};
    --btn-color: #{$white};
    --btn-hover-bg: transparent;
    --btn-hover-border-color: #{$neutral-500};
    --btn-hover-color: #{$neutral-500};
    --btn-focus-bg: #{$neutral-500};
    --btn-focus-color: #{$white};
  }

  &[disabled],
  &[aria-disabled="true"] {
    --btn-bg: #{$btn-disabled};
    --btn-border-color: #{$btn-disabled};
    --btn-color: #{$white};
    --btn-hover-bg: #{$btn-disabled};
    --btn-hover-border-color: #{$btn-disabled};
    --btn-hover-color: #{$white};
    pointer-events: none;
    cursor: default;
  }

  &-reset {
    border: none;
    background: transparent;
    padding: 0;
  }

  &-link {
    --btn-font-size: 1rem;
    --btn-line-height: 1.5;
    --btn-color: #{$primary-red};
    --btn-hover-color: #{$btn-tertiary-hover};
    --btn-focus-color: #{$primary-red};

    border: none;
    background: transparent;
    padding: 0;
    color: var(--btn-color);
    border-radius: 0;
    gap: 0.5rem;
    font-weight: 500;

    svg {
      transition: translate 0.35s ease;
    }

    &:hover,
    &:focus {
      background: transparent;

      svg {
        translate: 0.5rem;
      }
    }

    &:active {
      background-color: transparent;
    }

    &-secondary {
      --btn-color: #{$neutral-500};
      --btn-hover-color: #{$neutral-500};
      --btn-focus-color: #{$neutral-500};
    }

    &--underline {
      text-decoration: underline;
      text-underline-offset: 0.25rem;
      text-decoration-thickness: 0.0625rem;

      &:hover,
      &:focus {
        text-decoration: none;
      }
    }

    @media (hover: hover) and (pointer: fine) {
      &:hover,
      &:focus,
      &:active {
        background: transparent;
      }
    }
  }

  &-outline {
    --btn-bg: transparent;
    --btn-border-color: #{$primary-red};
    --btn-color: #{$primary-red};
    --btn-hover-bg: #{$primary-red};
    --btn-hover-border-color: #{$primary-red};
    --btn-hover-color: #{$white};
    --btn-weight: 500;

    &-primary {
      --btn-border-color: #{$primary-red};
      --btn-color: #{$primary-red};
      --btn-hover-bg: #{$primary-red};
      --btn-hover-border-color: #{$primary-red};
      --btn-hover-color: #{$white};
    }

    &-secondary {
      --btn-border-color: #{$neutral-500};
      --btn-color: #{$neutral-500};
      --btn-hover-bg: #{$neutral-500};
      --btn-hover-border-color: #{$neutral-500};
      --btn-hover-color: #{$white};
    }
  }
}

.bg-dark {
  &:has(.btn-primary) {
    .btn-primary {
      &:hover {
        --btn-hover-color: #{$white};
        --btn-hover-bg: transparent;
        --btn-hover-border-color: #{$white};
      }
    }

    .btn-outline {
      --btn-border-color: #{$white};
      --btn-color: #{$white};
      --btn-hover-bg: #{$white};
      --btn-hover-color: #{$primary-red};
    }

    .btn-link {
      --btn-color: #{$white};
      --btn-hover-color: #{$white};
    }
  }
}

/* ==================
  CTA Link Styles
================== */
.c-cta-link {
  &:hover {
    text-decoration: underline;
  }
}
