@import "../common";

.hero-projects {
    &__header {
        color: $neutral-600;
    }
    padding-top: 64px;
    padding-bottom: 154px;
    
    @include media-breakpoint-up(xl) {
        padding-top: 100px;
        padding-bottom: 110px;
    }

    &__projects {
        display: grid;
        grid-template-columns: 1fr;
        gap: 12px;
        margin-top: 50px;

        @include media-breakpoint-up(md) {
            grid-template-columns: repeat(2, minmax(0, 1fr));
        }

        @include media-breakpoint-up(xl) {
            grid-template-columns: repeat(4, minmax(0, 4fr));
            column-gap: 12px;
            row-gap: 10px;
            margin-top: 80px;
            // margin-bottom: 110px;
        }
    }

    &__feature-image {
        width: 100%;
        aspect-ratio: 317 / 228;
        overflow: hidden;

        img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 10px;
        }

        @include media-breakpoint-up(md) {
            grid-column: span 2;
        }

        @include media-breakpoint-up(xl) {
            height: auto;
            aspect-ratio: 634 / 456;
            grid-column: span 2;
        }
    }
}
