@import "../common";

@keyframes kenburns {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.06);
    }
}

.m-secondary-hero {
    position: relative;
    width: 100%;
    min-height: clamp(16rem, 80.8vw, 38.75rem);
    overflow: hidden;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: flex-end;
    padding-top: clamp(2.5rem, 1.355rem + 2.88vw, 6.25rem);
    padding-bottom: clamp(2.5rem, 1.355rem + 2.88vw, 6.25rem);
    padding-left: clamp(1.75rem, 0.504rem + 3.13vw, 5rem);
    padding-right: 1.81rem;

    @media (min-width: 768px) {
        min-height: calc(100vh - var(--wp-admin--admin-bar--height, 0px) - 84px);
    }

    @media (min-width: 1200px) {
        min-height: calc(100vh - var(--wp-admin--admin-bar--height, 0px) - 90.2px);
    }

    &__image,
    &__video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        min-height: 16rem;
        background-size: cover;
        background-position: center;
        @media (min-width: 768px) {
            min-height: initial;
        }
    }

    &__image {
        animation: kenburns 12s ease-in-out infinite alternate;
    }

    &__overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(25deg, #000 28.68%, rgba(0, 0, 0, 0.00) 92.02%);
        opacity: 0.4;
    }

    &__content {
        position: relative;
        z-index: 2;
        width: 100%;
    }

    &__heading {
        color: $white;
        margin: 0;
    }

    @include media-breakpoint-up(lg) {
        padding-top: 6.25rem;
        padding-bottom: 6.25rem;
        padding-left: 5rem;

        &__overlay {
            opacity: 0.5;
        }

        &__content {
            max-width: 52.5rem;
        }
    }
}
