@import "../common";

.m-testimonial {
    --testimonial-block-color: #{$primary-red}; //using interpolation
    --testimonial-arrow-color: #{$primary-red};
    --testimonial-arrow-image: none;

    position: relative;
    width: 100%;
    background: $white;
    overflow: visible;
    display: grid;
    grid-template-columns: 1fr;

    &--bg-light-red {
        --testimonial-block-color: #{$light-red};
    }

    &--bg-ultra-light-red {
        --testimonial-block-color: #{$ultra-light-red};
    }

    &--arrow-light-red {
        --testimonial-arrow-color: #{$light-red};
    }

    &--arrow-ultra-light-red {
        --testimonial-arrow-color: #{$ultra-light-red};
    }

    &__red-block {
        grid-row: 1;
        grid-column: 1;
        align-self: end;
        position: relative;
        width: 100%;
        height: 9.875rem;
        background: var(--testimonial-block-color);
        z-index: 1;

        @include media-breakpoint-up(lg) {
            height: 19.1875rem;
        }
    }

    &__person {
        grid-row: 1;
        grid-column: 1;
        position: relative;
        display: block;
        width: 88.6%;
        max-width: 100%;
        margin-left: 5.7%;
        height: auto;
        aspect-ratio: 332.143 / 280;
        object-fit: contain;
        object-position: top ;
        z-index: 2;
        
        @include media-breakpoint-up(lg) {
            width: 100%;
            max-width: 74rem;
            margin: 0 auto;
            aspect-ratio: 1184 / 862;
            object-position: center;
        }
    }

    &__annotation {
        position: absolute;
        top: -5.9375rem;
        right: calc(29% - 5.8rem);
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        width: 7.4375rem;
        z-index: 3;

        @include media-breakpoint-up(lg) {
            top: 15.25rem;
            right: max(5rem, calc((100% - 74rem) / 2 + 12rem), 20%);
            flex-direction: column;
            width: auto;
        }
    }

    &__arrow {
        display: block;
        width: 2.625rem;
        height: 3.4375rem;
        flex: 0 0 auto;
        background-color: var(--testimonial-arrow-color);
        mask-image: var(--testimonial-arrow-image);
        mask-repeat: no-repeat;
        mask-position: center;
        mask-size: contain;
        transform: scaleY(-1);

        @include media-breakpoint-up(lg) {
            width: 4.5625rem;
            height: 5.9375rem;
            transform: none;
        }
    }

    &__name {
        width: 7.4375rem;
        color: $secondary-dark;
        margin: 0;

        @include media-breakpoint-up(lg) {
            width: 11.875rem;
        }
    }

    &__quote-box {
        grid-row: 2;
        grid-column: 1;
        position: relative;
        width: calc(100% - 2rem);
        max-width: 26.25rem;
        margin: -3.25rem auto 0; /* -52px mobile */
        filter: drop-shadow(0 0.625rem 1.25rem rgba(0, 0, 0, 0.08));
        z-index: 3;

        @include media-breakpoint-up(lg) {
            margin: -5.6875rem auto 0; /* -91px desktop */
            width: 26.25rem;
            max-width: none;
        }
    }

    &__quote-bg-container {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;

        picture {
            display: block;
            width: 100%;
            height: 100%;
        }
    }

    &__quote-bg {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: fill;
    }

    &__quote-content {
        position: relative;
        display: flex;
        width: 100%;
        padding: 1.5rem;
        /* 24px padding on mobile */
        min-height: 13.75rem;
        /* 220px content height on mobile */
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 2;

        @include media-breakpoint-up(lg) {
            padding: 1.5rem 2rem;
            /* 24px top/bottom, 32px left/right on desktop */
            min-height: 11.5rem;
            /* 184px height on desktop */
        }
    }

    &__quote-text {
        align-self: stretch;
        color: $secondary-dark;
    }
}
